/* Stijl de downloadknop naar wens */
#downloadButton {
    padding: 10px 20px;
    background-color: #67B3E6;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#downloadButton:hover {
    border-radius: 2rem;
}