.dropdown {
    position: relative;
    display: none;
}

.dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

@media screen and (max-width: 768px) {
    .dropdown {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .dropdown-toggle {
        width: 100%;
        color: #fff;
        background-color: #C70039;;
    }

    .dropdown-menu {
        min-width: 100%;
        position: fixed;
        box-shadow: none;
    }
}