.header-socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.header-ul-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: row;
    list-style-type: none;
  }

.header-socials-icon {
    width: 20%;
    height: 20%;
    padding: 1rem;
}


.header-socials-icon:hover {
    transform: scale(1.2);
    transition: all 0.5s cubic-bezier(1, .99, 0, 0);
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .header-socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: auto;
        margin-left: 0rem;
    }

    .header-ul-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-icon {
        width: 10%;
        height: 10%;
        padding: 1rem;
    }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .header-socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: auto;
        margin-left: 0;
    }

    .header-ul-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-icon {
        width: 10%;
        height: 10%;
        padding: 1rem;
    }
}
  