.header-ul-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-listitem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.header-socials-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0;
    transition: all 0.5s cubic-bezier(1, .99, 0, 0);
}

.header-socials-icon:hover {
    transform: scale(1.2);
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .header-socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: auto;
        margin-left: 0rem;
    }

    .header-ul-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-icon {
        width: 10%;
        height: 10%;
        padding: 1rem;
    }
}

/* For screens smaller than 767px */
@media (max-width: 767px) {
    .header-socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: auto;
        margin-left: 0;
    }

    .header-ul-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-icon {
        width: 10%;
        height: 10%;
        padding: 1rem;
    }
}