:root {
    --bright: #fff;
    --medium: #fafafa;
    --primary: #004cff;
    --secondary: #ffd500;
    --danger: #ff0033;
    --dark: #1d1d1d;
    --spacing-sm: .5rem;
    --spacing-base: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --rounded-base: 1rem;
    --text-base: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 4rem;
}

/* styling header */
/* Default styles for all screens */
.header {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.header__container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 25%;
  height: 25%;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.5s cubic-bezier(1,.99,0,0);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

.link {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Media query for screens with a width of 600px or more */
@media screen and (max-width: 600px) {
  .logo {
    width: 0%;
    height: 0%;
  }

  .menu {
    flex-direction: row;
  }
}


/* Style the active class (and buttons on mouse-over) */
.active, .link:hover {
  background-color: #666;
  color: white;
}

/* styling of my digital clock */
div.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transform: translateX(-50%);
  position: relative;
  width: 30rem;
  height: 3rem;
  overflow: hidden;
  font-size: 48px;
}

.time {
  display: inline-block;
  padding: 0 10px;
}

/* Media query for screens with a width of 768px or more */
@media screen and (max-width: 1009.60px) {
  div.clock {
    width: 0rem;
    height: 0rem;
  }
}


/* styling content of the website */
.container {
  max-width: 150vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.intro {
  max-width: 150vh;
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.hobby-listitem {
  list-style: none;
  color: #000;
}

/* styling contact */
.contact-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  border-radius: 0;
  border: 1px solid #ccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.contact-ul-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: row;
  list-style-type: none;
}

.contact-listitem {
  padding: 0 1rem;
}

.icon {
  margin-top: 1rem;
  width: 40%;
  height: 40%;
}

.icon:hover {
  transform: scale(1.2);
  transition: all 0.5s cubic-bezier(1,.99,0,0);
}


/* styling footer */ 
.footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}