:root {
    --bright: #fff;
    --medium: #fafafa;
    --primary: #004cff;
    --secondary: #ffd500;
    --danger: #ff0033;
    --dark: #1d1d1d;
    --spacing-sm: .5rem;
    --spacing-base: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --rounded-base: 1rem;
    --text-base: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 4rem;
}

/* import of the lettertypes */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap');

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #007F7F;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #007F7F;
}

.card h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #007F7F;
}

span {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

span.link-caption-info,
span.link-caption-github,
span.link-caption-website,
span.link-caption-download {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

h3,
.skill-box .title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #007F7F;
}

p,
q,
.work-link {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
}


a {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

label,
placeholder {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #007F7F;

}

/* styling header in header.css file*/

/* styling content of the website */
.container {
  max-width: 150vh;
  padding: 3rem;
  line-height: 1.5;
  color: #333;
}

.intro {
  max-width: 150vh;
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.hobby-listitem {
  list-style: none;
  color: #000;
}

/* styling contact */
.contact-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.contact-ul-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: row;
  list-style-type: none;
}

.contact-listitem {
  padding: 0 1rem;
}

.icon {
  margin-top: 1rem;
  width: 35%;
  height: 35%;
}

.contact-listitem:hover {
  transform: scale(1.1);
  transition: all 0.5s cubic-bezier(1,.99,0,0);
}

.work-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: #000 0.3s;
}

.work-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.work-link:hover::before {
  transform: scaleX(1);
}

/* Styling of my project cards from the projectpage */
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: .3125rem;
}

.card {
  background-color: #007F7F;
  border-radius: .3125rem;
  box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.2);
  max-width: 19rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: .3125rem;
  border-top-right-radius: .3125rem;
}

.card-body {
  padding: 1.25rem;
}

.card h2 {
  margin: 0;
  color: #fff;
}

.card-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.btn-inf-img {
  width: 54%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.btn-github-img {
  width: 36%;
  margin-top: 0.5rem;
  margin-left: 2.5rem;
}

.btn-website-img {
  width: 40%;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.btn-download-img {
  width: 37%;
  margin-top: 0.5rem;
  margin-left: 2.3rem;
}

.card {
  position: relative;
}

.card-links {
  position: relative;
}

.link-item {
  position: relative;
  display: inline-block;
}

.link-caption-info {
  position: absolute;
  bottom: -20px;
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.link-item:hover .link-caption-info {
  opacity: 1;
}

.link-caption-github {
  position: absolute;
  bottom: -20px;
  margin-bottom: 0;
  left: 57%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.link-item:hover .link-caption-github {
  opacity: 1;
}

.link-caption-website {
  position: absolute;
  bottom: -20px;
  margin-bottom: 0;
  left: 53%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.link-item:hover .link-caption-website {
  opacity: 1;
}

.link-caption-download {
  position: absolute;
  bottom: -20px;
  margin-bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
  .link-caption-info {
    left: 55%;
  }

  .link-caption-github {
    left: 68%;
  }

  .link-caption-website {
    left: 60%;
  }

  .link-caption-download {
    left: 63%;
  }
}

.link-item:hover .link-caption-download {
  opacity: 1;
}