.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 12rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.quote {
    font-size: 1.6rem;
    font-weight: 600;
}