/* Progress bars styling */
.skills {
  margin-top: 20px;
}

.skill {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.skill-info {
  display: flex;
  align-items: center;
}

.skill-name {
  font-weight: bold;
  margin-right: 15px;
}

.skill-percentage {
  font-weight: bold;
  margin-left: 2rem;
}

.skill-bar {
  flex-grow: 1;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  width: 0;
  background-color: #4CAF50;
}

.skill-progress.html {
  width: 80%;
}

.skill-progress.css {
  width: 80%;
}

.skill-progress.js {
  width: 60%;
}


/* technologies cards styling */
.technologies-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

}

.technologies-carditem {
    border-radius: .3125rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.2);
    max-width: 25rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    margin-left: 1.25rem;
  }
  
  .technologies-carditem-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  